* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    margin: auto;
    padding: 50px;
}

.lorem {
    border: 1px solid black;
    width: 500px;
    padding: 10px;
}

.input {
    width: 300px;
    padding: 15px;
    border-radius: 10px;
}

.notice {
    width: 270px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.n2 {
    display: none;
    background-color: red;
    
}
.n1 {
    display: none;
    background-color: green;
}

/* //////////////////////// */
.btn {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.params-1 {
    padding: 10px;
    background-color: green;
    border: 1px solid green;
    color: white;
    border-radius: 10px;
    width: 250px;
}

.params-2 {
    background-color: red;
    padding: 10px;
    border: 1px solid red;
    color: white;
    border-radius: 10px;
    width: 250px;
}